@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --black: #111112;
    --gray: #3b3b3d;
    --green: #528c4d;
    --yellow: #b59e3a;
    --white: #ffffff;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

h1 {
    color:var(--white);
    text-transform: uppercase;
}

.game{
    width: 350px;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.box{
    border: 2px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    text-transform: uppercase;
    user-select: none;
}

.box.wrong, .box.correct, .box.inword{
    color: var(--white);
}

.box.wrong {
    background-color: var(--gray);
    border-color: var(--gray);
}
.box.correct{
        background-color: var(--green);
        border-color: var(--green);
}
.box.inword{
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.message {
    position: absolute; 
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    color:var(--gray);
    margin-top:20px;
    cursor: pointer;
}

.button:hover {
    color: var(--white);
}

.box.wrong, .box.correct, .box.inword {
    color: var(--white);
    transition: 0.5s ease-in-out;  /* add these two lines */
    transform: rotatex(180deg); /* add these two lines */
}

/* flip letter back */
.box.correct,
.box.inword,
.box.wrong {
  transform: rotateX(360deg);
}u